<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.post.mapper.LikeMapper">

    <select id="selectIsLikedByUserIdAndPostIds" resultType="cn.com.core.post.dto.UserStatusOnPostDTO">
        SELECT a.id AS postId, CASE WHEN b.isLikedCount > 0 THEN TRUE ELSE FALSE END AS status
        FROM (
            SELECT id
            FROM post
            WHERE id IN
            <foreach item="postId" index="index" collection="postIdList" open="(" separator="," close=")">
                #{postId}
            </foreach>
        ) a
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS isLikedCount
            FROM `like`
            WHERE user_id = #{userId} AND post_id IN
            <foreach item="postId" index="index" collection="postIdList" open="(" separator="," close=")">
                #{postId}
            </foreach>
            GROUP BY post_id
        ) b ON a.id = b.post_id
    </select>

</mapper>
